<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AAC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjaxState</display-name>
    <servlet-name>AjaxState</servlet-name>
    <servlet-class>controller.AjaxState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxState</servlet-name>
    <url-pattern>/AjaxState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInUser</display-name>
    <servlet-name>SignInUser</servlet-name>
    <servlet-class>controller.SignInUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInUser</servlet-name>
    <url-pattern>/SignInUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertFeedback</display-name>
    <servlet-name>InsertFeedback</servlet-name>
    <servlet-class>controller.InsertFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertFeedback</servlet-name>
    <url-pattern>/InsertFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpUserServlet</display-name>
    <servlet-name>SignUpUserServlet</servlet-name>
    <servlet-class>controller.SignUpUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpUserServlet</servlet-name>
    <url-pattern>/SignUpUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsEmailRegistered</display-name>
    <servlet-name>IsEmailRegistered</servlet-name>
    <servlet-class>controller.IsEmailRegistered</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsEmailRegistered</servlet-name>
    <url-pattern>/IsEmailRegistered</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAdmin_Vet</display-name>
    <servlet-name>InsertAdmin_Vet</servlet-name>
    <servlet-class>controller.InsertAdmin_Vet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAdmin_Vet</servlet-name>
    <url-pattern>/InsertAdmin_Vet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCategory</display-name>
    <servlet-name>AjaxCategory</servlet-name>
    <servlet-class>controller.AjaxCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCategory</servlet-name>
    <url-pattern>/AjaxCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendEmailServlet</display-name>
    <servlet-name>SendEmailServlet</servlet-name>
    <servlet-class>EmailVerif.SendEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmailServlet</servlet-name>
    <url-pattern>/SendEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestEmail</display-name>
    <servlet-name>TestEmail</servlet-name>
    <servlet-class>EmailVerif.TestEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestEmail</servlet-name>
    <url-pattern>/TestEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUser</display-name>
    <servlet-name>InsertUser</servlet-name>
    <servlet-class>controller.InsertUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUser</servlet-name>
    <url-pattern>/InsertUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertQuery</display-name>
    <servlet-name>InsertQuery</servlet-name>
    <servlet-class>controller.InsertQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertQuery</servlet-name>
    <url-pattern>/InsertQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAdoption</display-name>
    <servlet-name>InsertAdoption</servlet-name>
    <servlet-class>controller.InsertAdoption</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAdoption</servlet-name>
    <url-pattern>/InsertAdoption</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryResponse</display-name>
    <servlet-name>QueryResponse</servlet-name>
    <servlet-class>controller.QueryResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryResponse</servlet-name>
    <url-pattern>/QueryResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>controller.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendPasswordEmail</display-name>
    <servlet-name>SendPasswordEmail</servlet-name>
    <servlet-class>EmailVerif.SendPasswordEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendPasswordEmail</servlet-name>
    <url-pattern>/SendPasswordEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmitPetServlet</display-name>
    <servlet-name>AdmitPetServlet</servlet-name>
    <servlet-class>controller.AdmitPetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmitPetServlet</servlet-name>
    <url-pattern>/AdmitPetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertClinic</display-name>
    <servlet-name>InsertClinic</servlet-name>
    <servlet-class>controller.InsertClinic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertClinic</servlet-name>
    <url-pattern>/InsertClinic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePet</display-name>
    <servlet-name>UpdatePet</servlet-name>
    <servlet-class>controller.UpdatePet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePet</servlet-name>
    <url-pattern>/UpdatePet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportByPetCategory</display-name>
    <servlet-name>ReportByPetCategory</servlet-name>
    <servlet-class>javapdf.ReportByPetCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportByPetCategory</servlet-name>
    <url-pattern>/ReportByPetCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportAllPets</display-name>
    <servlet-name>ReportAllPets</servlet-name>
    <servlet-class>javapdf.ReportAllPets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportAllPets</servlet-name>
    <url-pattern>/ReportAllPets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportAdoptionByCategory</display-name>
    <servlet-name>ReportAdoptionByCategory</servlet-name>
    <servlet-class>javapdf.ReportAdoptionByCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportAdoptionByCategory</servlet-name>
    <url-pattern>/ReportAdoptionByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportAdoptionByDate</display-name>
    <servlet-name>ReportAdoptionByDate</servlet-name>
    <servlet-class>javapdf.ReportAdoptionByDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportAdoptionByDate</servlet-name>
    <url-pattern>/ReportAdoptionByDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportAdmissionByCategory</display-name>
    <servlet-name>ReportAdmissionByCategory</servlet-name>
    <servlet-class>javapdf.ReportAdmissionByCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportAdmissionByCategory</servlet-name>
    <url-pattern>/ReportAdmissionByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportAdmissionByDate</display-name>
    <servlet-name>ReportAdmissionByDate</servlet-name>
    <servlet-class>javapdf.ReportAdmissionByDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportAdmissionByDate</servlet-name>
    <url-pattern>/ReportAdmissionByDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportByPetAge</display-name>
    <servlet-name>ReportByPetAge</servlet-name>
    <servlet-class>javapdf.ReportByPetAge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportByPetAge</servlet-name>
    <url-pattern>/ReportByPetAge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportDonationByDate</display-name>
    <servlet-name>ReportDonationByDate</servlet-name>
    <servlet-class>javapdf.ReportDonationByDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportDonationByDate</servlet-name>
    <url-pattern>/ReportDonationByDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportDonationByUsers</display-name>
    <servlet-name>ReportDonationByUsers</servlet-name>
    <servlet-class>javapdf.ReportDonationByUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportDonationByUsers</servlet-name>
    <url-pattern>/ReportDonationByUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportNFDonationByDate</display-name>
    <servlet-name>ReportNFDonationByDate</servlet-name>
    <servlet-class>javapdf.ReportNFDonationByDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportNFDonationByDate</servlet-name>
    <url-pattern>/ReportNFDonationByDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertFinancialDonation</display-name>
    <servlet-name>InsertFinancialDonation</servlet-name>
    <servlet-class>controller.InsertFinancialDonation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertFinancialDonation</servlet-name>
    <url-pattern>/InsertFinancialDonation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNonFinancialDonation</display-name>
    <servlet-name>InsertNonFinancialDonation</servlet-name>
    <servlet-class>controller.InsertNonFinancialDonation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNonFinancialDonation</servlet-name>
    <url-pattern>/InsertNonFinancialDonation</url-pattern>
  </servlet-mapping>
</web-app>